<%= render 'welcome/header' %>

<h1><u>finance price</u></h1>
<h1>The Car Amount cost amount:<%= @input1 %> </h1>
<h2>After Calculating our fees the total cost over 12 months is: <%= @result.to_i.inspect %></h2>


<%= render 'welcome/footer' %>