
<%= render 'welcome/header' %>

<h1><u>Your favourites</u></h1>

<% current_user.favourites.each do |favourite| %>
  <h2> [<%= favourite.created_at.strftime('%D %R%P') %>]You favourited this post: <%= link_to favourite.carsforsale.title, favourite.carsforsale %></h2>
<% end %>


<%= render 'welcome/footer' %>