
<%= render 'welcome/header' %>

<h1>favourites page</h1>

<h1>Your favourites</h1>

<% current_user.favourites.each do |favourite| %>
  [<%= favourite.created_at.strftime('%H:%M%p') %>]You favourited this post: <%= link_to favourite.carsforsale.title, favourite.carsforsale %>
<% end %>