<%= render 'welcome/header' %>

<div class="jumbotron">
<div class="container">

<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<!--  <input type="button" class="btn btn-info" onclick="relocateToGit()">Info</input>-->
  <button type="button" class="btn btn-info" value="Input Button" onclick="relocateToGit()">GitHub</button>
</div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
