<%= render 'welcome/header' %>

<!--<p class="notice"><%#= notice %></p>-->
<!--<p class="alert"><%#= alert %></p>-->

<div class="jumbotron">
  <div class="container">

    <h2>Hello World</h2>
    <p>
      The time is now: <%= Time.now %>
    </p>
    <!-- button to relocate to the github repo   -->
    <button type="button" class="btn btn-info" value="Input Button" onclick="relocateToGit()">GitHub</button>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="col-8">col-8</div>-->
<!--  <div class="col-4">col-4</div>-->
<!--</div>-->

<div class="container">

  <div class="row">
    <div class="col-md-4">

      <!-- start of the card -->
      <div class="card mb-4 shadow-sm">

        <!--  -->
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
        </svg>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div> <!-- end of the Card -->


    </div>

  </div>
</div>





