<%= render 'welcome/header' %>


<div class="container">
<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
