
<%#= render 'welcome/header' %>

<!--<li><%#= link_to "Home", root_path %></li>-->
<%#= render 'devise/menu/registration_items' %>
<%#= render 'devise/menu/login_items' %>
<!--      <li><%#= link_to "About", about_path %></li>-->
<!--      <li><%#= link_to "Contact", contact_path %></li>-->



<div class="container">
<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
